.container {
  display: flex;
}

.projects-text {
  font-size: 50px;
  font-weight: bold;
  color: #343a40;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

.discord-bot {
  display: flex;
  flex-direction: column;
}

.container-two {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  gap: 30px;
}

#git {
  width: 30px;
}

.info-para,
.li-para {
  width: 1300px;
  margin: 15px;
}

/* .info-para {
  margin-top: 5px;
} */

.ul-list {
  margin-top: 0;
}

.bot-para {
  font-weight: bold;
}

.github-para {
  width: 800px;
}

.gitcontainer {
  display: flex;
  gap: 30px;
}

#link {
  margin: 0;
}

.linkparacontainer {
  display: flex;
  gap: 10px;
}

hr {
  border: 1px solid #000;
}

.hidden-info {
  display: none;
}

.hidden-more-info {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 20px;
  margin-left: 0;
  width: 1420px;
}

.hidden-more-info:hover {
  cursor: pointer;
  border: 2px solid #0788c4;
}

.para-hidden {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

#dropicon {
  margin-right: 7px;
}

.visible {
  display: block;
}
